{% extends 'main/layout.html' %}
{% block content %}
    <div class="container">
        <div class="col-auto px-md-4">
            <div class="table-responsive">
                <h2>{{ title }}</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">blog name</th>
                            <th scope="col">authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in object_list %}
                            <tr>
                                <td>{{a.id}}</td>
                                <td>{{a.name}}</td>
                                <td>{{a.authors}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}